header {
  color: #e9f4fe;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 1em;
}

article.desc {
  background-color: #474b52;
  box-shadow: 0 0 2px 2px #474b52;
  border-radius: 3px;
  color: #b6babf;
  margin: auto;
  padding: 1em;
  width: 30em;
  line-height: 1.2em;
}

article.desc a {
  color: #e9f4fe;
}

article.desc a:hover {
  color: #00b5ad;
  filter: brightness(1.5);
}

nav {
  margin-top: 1.5em;
}

nav button.button {
  transition: .35s;
}

nav button.button.gray {
  border-radius: 3px 3px 0 0;
}

nav button.button.teal {
  border-radius: 0 0 3px 3px;
}